.card {
  padding: 2.5rem;
  background-color: rgb(32 32 34/1);
  transition: all .2s ease-in-out;
}

.card__title {
  line-height: 1.25;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.card__subtitle {
  letter-spacing: 3px;
  font-size: .625rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: .5rem;
}

.card__description {
  color: rgb(148 148 149/1);
  font-size: .875rem;
  line-height: 1.3rem;
}