@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .underlined-link {
    position: relative;
    display: inline-block;
  }

  .underlined-link::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 66%;
    left: -0.1em;
    right: -0.1em;
    bottom: 0;
    transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
    transform: skew(-12deg);
    background-color: #FFBCB5;
  }

  .underlined-link:hover::after {
    top: 0%;
  }
}
