.home {
  padding: 2rem;
}

@media screen and (min-width: 992px) {
  .home {
    padding: 5.5rem 2rem;
  }
}

@media screen and (min-width: 992px) {
  .home {
    height: 100vh;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 3rem 0;
  height: 100%;
  max-width: 1350px;
  margin: 0 auto;
}

@media screen and (min-width: 992px) {
  .main {
    flex-direction: row;
    justify-content: space-between;
  }

  .main > * {
    flex-basis: 50%;
  }
}

.main__header {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.subtitle {
  line-height: 1.25;
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.introduction {
  font-size: 0.875rem;
  line-height: 1.75rem;
  color: rgb(148 148 149/1);
  margin-bottom: 2rem;
}

.introduction a {
  color: #fff;
  text-decoration: underline;
}

.socials {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

@media screen and (min-width: 992px) {
  .socials {
    margin-top: auto;
  }
}

.social a {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.profile {
  display: none;
}

.profile img {
  border-radius: 50%;
}

@media screen and (min-width: 992px) {
  .profile {
    display: list-item;
  }
}

.section-title {
  letter-spacing: 3px;
  font-size: 0.75rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

@media screen and (min-width: 992px) {
  .section-title {
    display: none;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .5rem;
  transition: opacity .2s ease-in-out;
}

@media screen and (min-width: 992px) {
  .cards:hover article {
    opacity: .5;
  }

  .cards article:hover {
    opacity: 1;
    transform: scale(1.1);
  }
}